[push]
    default = simple
[pull]
    default = current
[merge]
    tool = vimdiff
[alias]
    co = checkout
    ci = commit
    stat = status
[core]
    compression = 9
    editor = vim
[user]
    signingkey = pretorh
