[push]
    default = simple
    autosetupremote = true
[pull]
    default = current
    ff = only
[merge]
    tool = vimdiff
[alias]
    co = checkout
    ci = commit
    stat = status
[core]
    compression = 9
    editor = vim
[include]
    path = git/user.config
[includeIf "gitdir:~/Documents/work/"]
    ; use work-specific user details for work repositorries
    path = git/user-work.config
